.subhead,.heading
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.body
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u18232-4,#u21137-4
{
	font-family: mate-sc-n4, serif;
}

#u21141-4
{
	font-family: mate-sc-n4, serif;
}

#u21142-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u21142,#u21145-4
{
	font-family: mate-sc-n4, serif;
}

#u21139-4
{
	font-family: mate-sc-n4, serif;
}

#u18331-4
{
	font-family: mate-sc-n4, serif;
}

#u18339,#u18344
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u18339-5,#u18344-5,#u18342-5
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u18342
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u18339-2,#u18344-2,#u18350-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u21150-4
{
	font-family: mate-sc-n4, serif;
}

#u21171.PamphletThumbSelected #u21172-4 p,#u21175.PamphletThumbSelected #u21176-4 p,#u21177.PamphletThumbSelected #u21178-4 p,#u21177.PamphletThumbSelected #u21179-4 p,#u21173.PamphletThumbSelected #u21174-4 p,#u21155-4,#u21153-6,#u21151-4,#u21154-8,#u21179-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u21178-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u21172-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u21176-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u21174-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

