.subhead,.heading
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.body
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u18232-4,#u21137-4
{
	font-family: mate-sc-n4, serif;
}

#u21141-4
{
	font-family: mate-sc-n4, serif;
}

#u21142-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u21142,#u21145-4
{
	font-family: mate-sc-n4, serif;
}

#u21139-4
{
	font-family: mate-sc-n4, serif;
}

#u18331-4
{
	font-family: mate-sc-n4, serif;
}

#u18339,#u18344
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u18339-5,#u18344-5,#u18342-5
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u18342
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u18339-2,#u18344-2,#u18350-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u18445-4,#u18427-4,#u18438-4,#u18421-4,#u18417-4,#u18433-4
{
	font-family: mate-sc-n4, serif;
}

#u18444-4,#u18448-4,#u18426-4,#u18430-4,#u18440-4,#u18439-4,#u18420-4,#u18424-4,#u18418-4,#u18416-4,#u18432-4,#u18436-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u18462-4,#u18467-4,#u18464-4,#u18465-4,#u18466-4,#u18463-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

