.subhead,.heading
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.body
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u18882-4,#u18981-4,#u18939-4
{
	font-family: mate-sc-n4, serif;
}

#u18923-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u18923,#u18911-4
{
	font-family: mate-sc-n4, serif;
}

#u18963-4
{
	font-family: mate-sc-n4, serif;
}

#u18494,#u18496
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u18494-5,#u18496-5,#u18491-5
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u18491
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u18494-2,#u18496-2,#u18502-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u21052-4,#u21051-4,#u21040-4,#u21039-4,#u21043-4,#u21042-4,#u21041-4,#u21045-4,#u21049-4,#u21044-4,#u21046-4,#u21047-4,#u21048-4,#u21061-4,#u21062-4,#u21059-4,#u21012-4,#u21011-4,#u20973-4,#u20968-4,#u20970-4,#u20975-4,#u20978-4,#u20971-4,#u20980-4,#u20972-4,#u20977-4,#u20976-4,#u20974-4,#u20979-4,#u20969-4,#u21103-4,#u21104-4,#u21079-4,#u21075-4,#u21078-4,#u21071-4,#u21076-4,#u21077-4,#u21072-4,#u21073-4,#u21080-4,#u21074-4,#u21110-7,#u21109-4,#u21112-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

