.subhead,.heading
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.body
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u18232-4,#u21137-4
{
	font-family: mate-sc-n4, serif;
}

#u21141-4
{
	font-family: mate-sc-n4, serif;
}

#u21142-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u21142,#u21145-4
{
	font-family: mate-sc-n4, serif;
}

#u21139-4
{
	font-family: mate-sc-n4, serif;
}

#u18331-4
{
	font-family: mate-sc-n4, serif;
}

#u18339,#u18344
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u18339-5,#u18344-5,#u18342-5
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u18342
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u18339-2,#u18344-2,#u18350-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u18987-7,#u18987-10
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u18987-2,#u18987-4,#u18987-5,#u18987-8,#u18987-11,#u18987-12
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u18987-14
{
	font-family: source-sans-pro-n2, sans-serif;
}

