.version.index /* version checker */
{
	color: #0000EE;
	background-color: #2E3F80;
}

@-ms-viewport
{
	width: 1024px;
}

@-webkit-viewport
{
	width: 1024px;
}

@-o-viewport
{
	width: 1024px;
}

@-moz-viewport
{
	width: 1024px;
}

.html
{
	background-color: #191919;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 768px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu18230
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 10px;
}

#u18230
{
	z-index: 2;
	width: 98px;
}

#u18231
{
	z-index: 3;
	width: 96px;
	padding-bottom: 36px;
	margin-right: -10000px;
}

#u18231:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18231.MuseLinkActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18232-4
{
	z-index: 4;
	width: 81px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 8px;
}

#u21136
{
	z-index: 51;
	width: 98px;
	margin-top: 26px;
}

#u21143
{
	z-index: 71;
	width: 98px;
	height: 9px;
}

#u21137-4
{
	z-index: 72;
	width: 98px;
	min-height: 24px;
}

#u21137-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px;
}

#u21138
{
	z-index: 52;
	width: 98px;
	height: 9px;
	margin-top: 9px;
}

#u21141-4
{
	z-index: 53;
	width: 98px;
	min-height: 24px;
}

#u21137-4.MuseLinkActive,#u21141-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px;
}

#u21140
{
	z-index: 65;
	width: 98px;
	height: 9px;
	margin-top: 10px;
}

#u21142-4
{
	z-index: 61;
	width: 98px;
	min-height: 24px;
}

#u21141-4.MuseLinkActive,#u21142-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px;
}

#u21145-4
{
	z-index: 57;
	width: 98px;
	min-height: 24px;
}

#u21142-4.MuseLinkActive,#u21145-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px;
}

#u21144
{
	z-index: 70;
	width: 98px;
	height: 9px;
	margin-top: 10px;
}

#u21139-4
{
	z-index: 66;
	width: 98px;
	min-height: 24px;
}

#u21145-4.MuseLinkActive,#u21139-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px;
}

#u21139-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px;
}

#u18365
{
	z-index: 84;
	width: 42px;
	margin-top: 44px;
}

#u18368
{
	z-index: 85;
	width: 40px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u18366
{
	z-index: 86;
	width: 16px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 13px;
}

#u18366:hover
{
	width: 16px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u18357
{
	z-index: 78;
	width: 42px;
	margin-top: 11px;
}

#u18358
{
	z-index: 79;
	width: 40px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u18359
{
	z-index: 80;
	width: 40px;
	margin-right: -10000px;
	margin-top: 8px;
}

#u18361
{
	z-index: 81;
	width: 42px;
	margin-top: 11px;
}

#u18364
{
	z-index: 82;
	width: 40px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u18368:hover,#u18358:hover,#u18364:hover
{
	width: 40px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18362
{
	z-index: 83;
	width: 30px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 5px;
}

#pu18330
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 123px;
}

#u18330
{
	z-index: 8;
	width: 879px;
	margin-left: 1px;
}

#u18332
{
	z-index: 9;
	margin-right: -10000px;
}

#u18331-4
{
	z-index: 10;
	width: 425px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 454px;
}

#u18372
{
	z-index: 76;
	width: 879px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-top: 25px;
	position: relative;
}

.grow
{
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	background-color: transparent;
}

#u18372_clip
{
	overflow: hidden;
	width: 879px;
	height: 552px;
}

#u18372_img
{
	margin-top: -31px;
	margin-bottom: -3px;
}

#pamphletu18335
{
	z-index: 14;
	width: 0.01px;
	height: 52px;
	padding-bottom: 21px;
	margin-right: -10000px;
	margin-top: 695px;
}

#u18336popup
{
	z-index: 15;
}

@viewport,#u18336
{
	width: 1024px;
}

#u18337
{
	z-index: 16;
	width: 1024px;
	height: 73px;
	margin-right: -10000px;
}

#u18338
{
	z-index: 26;
	width: 221px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 124px;
}

#u18339-5
{
	z-index: 27;
	width: 181px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u18340
{
	z-index: 33;
	width: 40px;
	margin-right: -10000px;
	left: 181px;
}

#u18343
{
	z-index: 17;
	width: 228px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 433px;
}

#u18344-5
{
	z-index: 18;
	width: 188px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u18345
{
	z-index: 24;
	width: 40px;
	margin-right: -10000px;
	left: 188px;
}

#u18340_states,#u18345_states
{
	height: 40px;
	width: 40px;
}

#u18342-5
{
	z-index: 35;
	width: 253px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 750px;
}

#u18348
{
	z-index: 40;
	width: 32px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 16px;
}

#u18349
{
	width: 43px;
	padding-bottom: 7px;
	top: -7px;
	left: -6px;
}

#u18349:hover
{
	width: 43px;
	min-height: 0px;
	margin: 0px;
}

#u18349.PamphletThumbSelected
{
	width: 42px;
	min-height: 0px;
	margin: 0px 1px 1px 0px;
}

#u18350-4
{
	z-index: 42;
	width: 32px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u18349:hover #u18350-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 32px;
	margin: 6px -10000px 0px 0px;
}

#u18349.PamphletThumbSelected #u18350-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 32px;
	margin: 6px -10000px 0px 0px;
}

#u18346
{
	width: 42px;
	padding-bottom: 5px;
	top: 15px;
	left: 10px;
}

#u18346:hover
{
	width: 42px;
	min-height: 0px;
	margin: 0px;
}

#u18346:active
{
	width: 42px;
	min-height: 0px;
	margin: 0px;
}

#u18347-4
{
	z-index: 47;
	width: 30px;
	min-height: 34px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 6px;
}

body
{
	position: relative;
	min-width: 1024px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -695px;
}

