#u18231
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 100px;
	position: relative;
}

#u18231:hover
{
	background-color: #7F7F7F;
}

#u18232-4
{
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: mate-sc, serif;
	font-weight: 400;
	position: relative;
}

#u21137-4
{
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: mate-sc, serif;
	font-weight: 400;
	position: relative;
}

#u21137-4:hover
{
	background-color: #7F7F7F;
}

#u21137-2
{
	padding-left: 4px;
	padding-top: 1px;
}

#u21141-4
{
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: mate-sc, serif;
	font-weight: 400;
	position: relative;
}

#u21141-4:hover
{
	background-color: #7F7F7F;
}

#u21141-2
{
	padding-left: 4px;
	padding-top: 1px;
}

#u21142-4
{
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u21142-4:hover
{
	background-color: #7F7F7F;
}

#u21142-2
{
	padding-left: 4px;
	padding-top: 1px;
}

#u21142
{
	font-family: mate-sc, serif;
	font-weight: 400;
}

#u21145-4
{
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: mate-sc, serif;
	font-weight: 400;
	position: relative;
}

#u21145-4:hover
{
	background-color: #7F7F7F;
}

#u21145-2
{
	padding-left: 4px;
	padding-top: 1px;
}

#u21143,#u21138,#u21140,#u21144
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	border-width: 1px 0px 0px;
}

#u21139-4
{
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: mate-sc, serif;
	font-weight: 400;
	position: relative;
}

#u21139-4:hover
{
	background-color: #7F7F7F;
}

#u18231.MuseLinkActive,#u21137-4.MuseLinkActive,#u21141-4.MuseLinkActive,#u21142-4.MuseLinkActive,#u21145-4.MuseLinkActive,#u21139-4.MuseLinkActive
{
	background-color: #7D1A0A;
}

#u21139-2
{
	padding-left: 4px;
	padding-top: 1px;
}

#u18368
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #191919;
	border-radius: 100px;
	position: relative;
}

#u18368:hover
{
	background-color: #3B5998;
}

#u18366
{
	background-color: transparent;
	border-radius: 100px;
	overflow: hidden;
	position: relative;
}

#u18358
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #191919;
	border-radius: 100px;
	position: relative;
}

#u18358:hover
{
	background-color: #FF7700;
}

#u18364
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #191919;
	border-radius: 100px;
	position: relative;
}

#u18364:hover
{
	background-color: #C4302B;
}

#u18359,#u18362
{
	background-color: transparent;
	border-radius: 100px;
	overflow: hidden;
	position: relative;
}

#u18332
{
	background-color: #191919;
	position: relative;
}

#u18331-4
{
	background-color: transparent;
	line-height: 47px;
	color: #FFFFFF;
	font-size: 39px;
	text-align: left;
	font-family: mate-sc, serif;
	font-weight: 400;
	position: relative;
}

#u18336
{
	position: absolute;
	background-color: transparent;
}

#u18337
{
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	position: relative;
}

#u18340_states
{
	vertical-align: top;
	background: url("../../images/u18340_states.png") no-repeat 0px 0px;
}

#u18340:hover #u18340_states
{
	background: url("../../images/u18340_states-r.png") no-repeat 0px 0px;
}

.hidpi #u18340:hover #u18340_states
{
	background-image: url("../../images/u18340_states_2x.png");
	background-image: url("../../images/u18340_states-r_2x.png");
	background-image: url("../../images/u18340_states-r_2x.png");
	background-image: url("../../images/u18340_states-r_2x.png");
	background-image: url("../../images/u18340_states-r_2x.png");
	background-image: url("../../images/u18340_states-r_2x.png");
	background-size: 40px 40px;
}

#u18230,#u21136,#u18365,#u18357,#u18361,#u18330,#u18338,#u18343
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u18339-5,#u18344-5
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u18339,#u18344
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
}

#u18339-2,#u18344-2
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u18345_states
{
	vertical-align: top;
	background: url("../../images/u18345_states.png") no-repeat 0px 0px;
}

#u18345:hover #u18345_states
{
	background: url("../../images/u18345_states-r.png") no-repeat 0px 0px;
}

.hidpi #u18345:hover #u18345_states
{
	background-image: url("../../images/u18345_states_2x.png");
	background-image: url("../../images/u18345_states-r_2x.png");
	background-image: url("../../images/u18345_states-r_2x.png");
	background-image: url("../../images/u18345_states-r_2x.png");
	background-image: url("../../images/u18345_states-r_2x.png");
	background-image: url("../../images/u18345_states-r_2x.png");
	background-size: 40px 40px;
}

#u18342-5
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u18342
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 900;
}

#pamphletu18335,#u18340,#u18345,#u18348
{
	position: relative;
}

#u18349
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 100px;
}

#u18349:hover
{
	background-color: #7F7F7F;
}

#u18366:hover,#u18349.PamphletThumbSelected
{
	background-color: transparent;
}

#u18350-4
{
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u18349.PamphletThumbSelected #u18350-4 p
{
	padding-top: 0px;
	letter-spacing: 0px;
	font-size: 24px;
}

#u18346
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #191919;
	border-radius: 100px;
}

#u18346:hover
{
	background-color: #999999;
}

#u18346:active
{
	background-color: #6B6B6B;
}

#u18347-4
{
	background-color: transparent;
	line-height: 34px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

