.version.the_band /* version checker */
{
	color: #00000F;
	background-color: #335ACC;
}

@-ms-viewport
{
	width: 1024px;
}

@-webkit-viewport
{
	width: 1024px;
}

@-o-viewport
{
	width: 1024px;
}

@-moz-viewport
{
	width: 1024px;
}

.html
{
	background-color: #191919;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 768px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu18230
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 10px;
}

#u18230
{
	z-index: 2;
	width: 98px;
}

#u18231
{
	z-index: 3;
	width: 96px;
	padding-bottom: 36px;
	margin-right: -10000px;
}

#u18231:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18231.MuseLinkActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18232-4
{
	z-index: 4;
	width: 81px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 8px;
}

#u21136
{
	z-index: 51;
	width: 98px;
	margin-top: 26px;
}

#u21143
{
	z-index: 71;
	width: 98px;
	height: 9px;
}

#u21137-4
{
	z-index: 72;
	width: 98px;
	min-height: 24px;
}

#u21137-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px;
}

#u21138
{
	z-index: 52;
	width: 98px;
	height: 9px;
	margin-top: 9px;
}

#u21141-4
{
	z-index: 53;
	width: 98px;
	min-height: 24px;
}

#u21137-4.MuseLinkActive,#u21141-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px;
}

#u21140
{
	z-index: 65;
	width: 98px;
	height: 9px;
	margin-top: 10px;
}

#u21142-4
{
	z-index: 61;
	width: 98px;
	min-height: 24px;
}

#u21141-4.MuseLinkActive,#u21142-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px;
}

#u21145-4
{
	z-index: 57;
	width: 98px;
	min-height: 24px;
}

#u21142-4.MuseLinkActive,#u21145-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px;
}

#u21144
{
	z-index: 70;
	width: 98px;
	height: 9px;
	margin-top: 10px;
}

#u21139-4
{
	z-index: 66;
	width: 98px;
	min-height: 24px;
}

#u21145-4.MuseLinkActive,#u21139-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px;
}

#u21139-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px;
}

#u18365
{
	z-index: 207;
	width: 42px;
	margin-top: 44px;
}

#u18368
{
	z-index: 208;
	width: 40px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u18366
{
	z-index: 209;
	width: 16px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 13px;
}

#u18366:hover
{
	width: 16px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u18357
{
	z-index: 201;
	width: 42px;
	margin-top: 11px;
}

#u18358
{
	z-index: 202;
	width: 40px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u18359
{
	z-index: 203;
	width: 40px;
	margin-right: -10000px;
	margin-top: 8px;
}

#u18361
{
	z-index: 204;
	width: 42px;
	margin-top: 11px;
}

#u18364
{
	z-index: 205;
	width: 40px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u18368:hover,#u18358:hover,#u18364:hover
{
	width: 40px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18362
{
	z-index: 206;
	width: 30px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 5px;
}

#pu18330
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 124px;
}

#u18330
{
	z-index: 8;
	width: 879px;
}

#u18332
{
	z-index: 9;
	margin-right: -10000px;
}

#u18331-4
{
	z-index: 10;
	width: 425px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 454px;
}

#u18410
{
	z-index: 76;
	width: 886px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
}

#pamphletu18411
{
	z-index: 77;
	width: 0.01px;
	height: 445px;
	padding-bottom: 92px;
	position: relative;
}

#u18412
{
	position: absolute;
	width: 886px;
	background-color: transparent;
}

#u18412popup
{
	z-index: 78;
}

#u18443
{
	z-index: 79;
	width: 886px;
	height: 537px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u18446
{
	z-index: 92;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: -1px;
}

#u18445-4
{
	z-index: 80;
	width: 573px;
	min-height: 50px;
	border-style: solid;
	line-height: 43px;
	color: #FFFFFF;
	font-size: 36px;
	font-family: mate-sc, serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 1px;
}

.Bottom-line-1PX-RED
{
	border-style: solid;
	border-color: #7D1A0A;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u18444-4
{
	z-index: 88;
	width: 573px;
	min-height: 30px;
	background-color: transparent;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u18448-4
{
	z-index: 84;
	width: 573px;
	min-height: 185px;
	background-color: transparent;
	line-height: 23px;
	color: #FFFFFF;
	text-align: justify;
	text-indent: 1px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-top: 19px;
	position: relative;
}

#u18425
{
	z-index: 94;
	width: 886px;
	height: 537px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u18428
{
	z-index: 107;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: -1px;
}

#pu18427-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 306px;
}

#u18427-4
{
	z-index: 95;
	width: 573px;
	min-height: 50px;
	border-style: solid;
	line-height: 43px;
	color: #FFFFFF;
	font-size: 36px;
	font-family: mate-sc, serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 1px;
}

#u18426-4
{
	z-index: 103;
	width: 573px;
	min-height: 30px;
	background-color: transparent;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u18430-4
{
	z-index: 99;
	width: 573px;
	min-height: 185px;
	background-color: transparent;
	line-height: 23px;
	color: #FFFFFF;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-top: 18px;
	position: relative;
}

#u18437
{
	z-index: 109;
	width: 886px;
	height: 537px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u18441
{
	z-index: 122;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: -1px;
}

#pu18438-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 306px;
}

#u18438-4
{
	z-index: 110;
	width: 573px;
	min-height: 50px;
	border-style: solid;
	line-height: 43px;
	color: #FFFFFF;
	font-size: 36px;
	font-family: mate-sc, serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 1px;
}

#u18440-4
{
	z-index: 118;
	width: 573px;
	min-height: 30px;
	background-color: transparent;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u18439-4
{
	z-index: 114;
	width: 573px;
	min-height: 185px;
	background-color: transparent;
	line-height: 23px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-top: 18px;
	position: relative;
}

#u18419
{
	z-index: 124;
	width: 886px;
	height: 537px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u18419_position_content
{
	padding-top: 4px;
	padding-bottom: 246px;
}

#u18421-4
{
	z-index: 125;
	width: 573px;
	min-height: 50px;
	border-style: solid;
	line-height: 43px;
	color: #FFFFFF;
	font-size: 36px;
	font-family: mate-sc, serif;
	font-weight: 400;
	margin-left: 306px;
	margin-top: 3px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u18420-4
{
	z-index: 133;
	width: 573px;
	min-height: 30px;
	background-color: transparent;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-left: 306px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u18424-4
{
	z-index: 129;
	width: 573px;
	min-height: 185px;
	background-color: transparent;
	line-height: 23px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-left: 306px;
	margin-top: 18px;
	position: relative;
}

#u18422
{
	z-index: 137;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 200px;
	left: -1px;
	top: -286px;
	margin-bottom: -286px;
	position: relative;
}

#u18413
{
	z-index: 139;
	width: 886px;
	height: 537px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u18414
{
	z-index: 152;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: -1px;
}

#u18417-4
{
	z-index: 140;
	width: 573px;
	min-height: 50px;
	border-style: solid;
	line-height: 43px;
	color: #FFFFFF;
	font-size: 36px;
	font-family: mate-sc, serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 1px;
}

#u18418-4
{
	z-index: 148;
	width: 573px;
	min-height: 30px;
	background-color: transparent;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u18416-4
{
	z-index: 144;
	width: 573px;
	min-height: 185px;
	background-color: transparent;
	line-height: 23px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-top: 18px;
	position: relative;
}

#u18431
{
	z-index: 154;
	width: 886px;
	height: 537px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u18434
{
	z-index: 167;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: -1px;
}

#u18446 .clip_frame,#u18428 .clip_frame,#u18441 .clip_frame,#u18422 .clip_frame,#u18414 .clip_frame,#u18434 .clip_frame
{
	-webkit-border-radius: 199px 199px 199px 199px;
}

#pu18445-4,#pu18417-4,#pu18433-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 306px;
}

#u18433-4
{
	z-index: 155;
	width: 573px;
	min-height: 50px;
	border-style: solid;
	line-height: 43px;
	color: #FFFFFF;
	font-size: 36px;
	font-family: mate-sc, serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 1px;
}

#u18421-2,#u18417-2,#u18433-2
{
	padding-top: 1px;
}

#u18432-4
{
	z-index: 163;
	width: 573px;
	min-height: 30px;
	background-color: transparent;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u18436-4
{
	z-index: 159;
	width: 573px;
	min-height: 185px;
	background-color: transparent;
	line-height: 23px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-top: 18px;
	position: relative;
}

#u18449
{
	z-index: 169;
	width: 825px;
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
	left: 27px;
}

#u18450
{
	position: absolute;
	width: 99px;
	height: 99px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 100px;
	background: transparent url("../../images/mw_6577-u18450-fr.png") no-repeat center center;
	background-size: cover;
}

#u18450.PamphletThumbSelected
{
	width: 98px;
	height: 98px;
	min-height: 0px;
	margin: 0px 1px 1px 0px;
	background: transparent url("../../images/mw2.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u18450
{
	background-image: url("../../images/mw_6577-u18450-fr_2x.png");
}

.hidpi #u18450.PamphletThumbSelected
{
	background-image: url("../../images/mw_2x2.jpg");
}

#u18452
{
	position: absolute;
	width: 99px;
	height: 99px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 100px;
	left: 145px;
	background: transparent url("../../images/prairie%20prince_6872-u18452-fr.png") no-repeat center center;
	background-size: cover;
}

#u18452.PamphletThumbSelected
{
	width: 98px;
	height: 98px;
	min-height: 0px;
	margin: 0px 1px 1px 0px;
	background: transparent url("../../images/prairie%20prince_6876.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u18452
{
	background-image: url("../../images/prairie%20prince_6872-u18452-fr_2x.png");
}

.hidpi #u18452.PamphletThumbSelected
{
	background-image: url("../../images/prairie%20prince_6876_2x.jpg");
}

#u18455
{
	position: absolute;
	width: 99px;
	height: 99px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 100px;
	left: 290px;
	background: transparent url("../../images/chris%20von%20sneidern_6818-u18455-fr.png") no-repeat center center;
	background-size: cover;
}

#u18455.PamphletThumbSelected
{
	width: 98px;
	height: 98px;
	min-height: 0px;
	margin: 0px 1px 1px 0px;
	background: transparent url("../../images/chris%20von%20sneidern_6828.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u18455
{
	background-image: url("../../images/chris%20von%20sneidern_6818-u18455-fr_2x.png");
}

.hidpi #u18455.PamphletThumbSelected
{
	background-image: url("../../images/chris%20von%20sneidern_6828_2x.jpg");
}

#u18453
{
	position: absolute;
	width: 99px;
	height: 99px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 100px;
	left: 435px;
	background: transparent url("../../images/paul%20robinson_6850-u18453-fr.png") no-repeat center center;
	background-size: cover;
}

#u18453.PamphletThumbSelected
{
	width: 98px;
	height: 98px;
	min-height: 0px;
	margin: 0px 1px 1px 0px;
	background: transparent url("../../images/paul%20robinson_68422.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u18453
{
	background-image: url("../../images/paul%20robinson_6850-u18453-fr_2x.png");
}

.hidpi #u18453.PamphletThumbSelected
{
	background-image: url("../../images/paul%20robinson_6842_2x2.jpg");
}

#u18454
{
	position: absolute;
	width: 99px;
	height: 99px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 100px;
	left: 580px;
	background: transparent url("../../images/jeff%20cleland_6982-u18454-fr.png") no-repeat center center;
	background-size: cover;
}

#u18454.PamphletThumbSelected
{
	width: 98px;
	height: 98px;
	min-height: 0px;
	margin: 0px 1px 1px 0px;
	background: transparent url("../../images/jeff%20cleland_69692.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u18454
{
	background-image: url("../../images/jeff%20cleland_6982-u18454-fr_2x.png");
}

.hidpi #u18454.PamphletThumbSelected
{
	background-image: url("../../images/jeff%20cleland_6969_2x2.jpg");
}

#u18451
{
	position: absolute;
	width: 99px;
	height: 99px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 100px;
	left: 724px;
	background: transparent url("../../images/fernando%20de%20sanjines_6942-u18451-fr.png") no-repeat center center;
	background-size: cover;
}

#u18451.PamphletThumbSelected
{
	width: 98px;
	height: 98px;
	min-height: 0px;
	margin: 0px 1px 1px 0px;
	background: transparent url("../../images/fernando%20de%20sanjines_6939.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u18451
{
	background-image: url("../../images/fernando%20de%20sanjines_6942-u18451-fr_2x.png");
}

.hidpi #u18451.PamphletThumbSelected
{
	background-image: url("../../images/fernando%20de%20sanjines_6939_2x.jpg");
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u18468
{
	z-index: 176;
	width: 879px;
	height: 28px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	top: -246px;
	margin-bottom: -29px;
	position: relative;
	border-width: 0px 0px 1px;
}

#pu18462-4
{
	width: 0.01px;
	margin-top: -80px;
}

#u18462-4
{
	z-index: 177;
	width: 154px;
	min-height: 24px;
	background-color: #525252;
	background-color: rgba(25,25,25,0.75);
	color: #FFFFFF;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 145px;
	-pie-background: rgba(25,25,25,0.75);
}

#u18467-4
{
	z-index: 181;
	width: 154px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
}

#u18464-4
{
	z-index: 185;
	width: 154px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 290px;
}

#u18465-4
{
	z-index: 189;
	width: 154px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 435px;
}

#u18466-4
{
	z-index: 193;
	width: 154px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 580px;
}

#u18463-4
{
	z-index: 197;
	width: 154px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 725px;
}

#u18462-2,#u18467-2,#u18464-2,#u18465-2,#u18466-2,#u18463-2
{
	padding-top: 3px;
}

#pamphletu18335
{
	z-index: 14;
	width: 0.01px;
	height: 52px;
	padding-bottom: 21px;
	margin-right: -10000px;
	margin-top: 695px;
}

#u18336popup
{
	z-index: 15;
}

@viewport,#u18336
{
	width: 1024px;
}

#u18337
{
	z-index: 16;
	width: 1024px;
	height: 73px;
	margin-right: -10000px;
}

#u18338
{
	z-index: 26;
	width: 221px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 124px;
}

#u18339-5
{
	z-index: 27;
	width: 181px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u18340
{
	z-index: 33;
	width: 40px;
	margin-right: -10000px;
	left: 181px;
}

#u18343
{
	z-index: 17;
	width: 228px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 433px;
}

#u18344-5
{
	z-index: 18;
	width: 188px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u18345
{
	z-index: 24;
	width: 40px;
	margin-right: -10000px;
	left: 188px;
}

#u18340_states,#u18345_states
{
	height: 40px;
	width: 40px;
}

#u18342-5
{
	z-index: 35;
	width: 253px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 750px;
}

#u18348
{
	z-index: 40;
	width: 32px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 16px;
}

#u18349
{
	width: 43px;
	padding-bottom: 7px;
	top: -7px;
	left: -6px;
}

#u18349:hover
{
	width: 43px;
	min-height: 0px;
	margin: 0px;
}

#u18349.PamphletThumbSelected
{
	width: 42px;
	min-height: 0px;
	margin: 0px 1px 1px 0px;
}

#u18350-4
{
	z-index: 42;
	width: 32px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u18349:hover #u18350-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 32px;
	margin: 6px -10000px 0px 0px;
}

#u18349.PamphletThumbSelected #u18350-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 32px;
	margin: 6px -10000px 0px 0px;
}

#u18346
{
	width: 42px;
	padding-bottom: 5px;
	top: 15px;
	left: 10px;
}

#u18346:hover
{
	width: 42px;
	min-height: 0px;
	margin: 0px;
}

#u18346:active
{
	width: 42px;
	min-height: 0px;
	margin: 0px;
}

#u18347-4
{
	z-index: 47;
	width: 30px;
	min-height: 34px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 6px;
}

body
{
	position: relative;
	min-width: 1024px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -695px;
}

