.subhead,.heading
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.body
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u20642-4,#u20217-4,#u20917-4
{
	font-family: mate-sc-n4, serif;
}

#u20921-4
{
	font-family: mate-sc-n4, serif;
}

#u20922-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u20922,#u20925-4
{
	font-family: mate-sc-n4, serif;
}

#u20919-4
{
	font-family: mate-sc-n4, serif;
}

#u20245,#u20242,#u20247
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u20245-5,#u20242-5,#u20247-5,#u20240-5
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u20240
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u20245-2,#u20242-2,#u20247-2,#u20250-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u19936-4,#u19935-4,#u19907-4,#u19902-4,#u19906-4,#u19905-4,#u19903-4,#u19904-4,#u19909-4,#u19908-4,#u19901-4,#u19910-4,#u19900-4,#u20057-4,#u20058-4,#u20061-4,#u19851-4,#u19852-4,#u19882-4,#u19894-4,#u19890-4,#u19886-4,#u19888-4,#u19892-4,#u19885-4,#u19883-4,#u19884-4,#u19889-4,#u19891-4,#u19893-4,#u19887-4,#u20103-4,#u20102-4,#u20073-4,#u20070-4,#u20068-4,#u20075-4,#u20067-4,#u20074-4,#u20076-4,#u20071-4,#u20072-4,#u20069-4,#u20052-7,#u20051-4,#u19946-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

