.subhead,.heading
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.body
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u16252-4,#u16271-4,#u20840-4
{
	font-family: mate-sc-n4, serif;
}

#u20800-4
{
	font-family: mate-sc-n4, serif;
}

#u20799-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u20799,#u20798-4
{
	font-family: mate-sc-n4, serif;
}

#u20797-4
{
	font-family: mate-sc-n4, serif;
}

#u16571,#u16577,#u16573
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u16571-5,#u16577-5,#u16573-5,#u16574-5
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u16574
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u16571-2,#u16577-2,#u16573-2,#u16582-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

