.subhead,.heading
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.body
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u16252-4,#u16271-4,#u20840-4
{
	font-family: mate-sc-n4, serif;
}

#u20800-4
{
	font-family: mate-sc-n4, serif;
}

#u20799-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u20799,#u20798-4
{
	font-family: mate-sc-n4, serif;
}

#u20797-4
{
	font-family: mate-sc-n4, serif;
}

#u16571,#u16577,#u16573
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u16571-5,#u16577-5,#u16573-5,#u16574-5
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u16574
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u16571-2,#u16577-2,#u16573-2,#u16582-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u20892-4
{
	font-family: mate-sc-n4, serif;
}

#u20911.PamphletThumbSelected #u20912-4 p,#u20913.PamphletThumbSelected #u20914-4 p,#u20908.PamphletThumbSelected #u20910-4 p,#u20908.PamphletThumbSelected #u20909-4 p,#u20906.PamphletThumbSelected #u20907-4 p,#u20890-4,#u20888-4,#u20891-4,#u20889-6,#u20909-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u20910-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u20912-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u20914-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u20907-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

