.version.music /* version checker */
{
	color: #00001B;
	background-color: #9364DD;
}

.html
{
	background-color: #191919;
}

#page
{
	z-index: 1;
	width: 1366px;
	min-height: 5299.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 14px;
	padding-bottom: 14px;
	width: 0.01px;
}

#u20640
{
	z-index: 50;
	width: 98px;
	padding-bottom: 98px;
	top: 14px;
	left: 10px;
}

#u20641
{
	z-index: 51;
	width: 96px;
	padding-bottom: 96px;
	top: 14px;
	left: 10px;
}

#u20641:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u20641.MuseLinkActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u20642-4
{
	z-index: 52;
	width: 81px;
	min-height: 23px;
	top: 52px;
	left: 19px;
}

#u20214
{
	z-index: 2;
	width: 879px;
	padding-bottom: 98px;
	top: 14px;
	left: 226px;
}

#u20215
{
	z-index: 3;
	top: 14px;
	left: 226px;
}

#u20217-4
{
	z-index: 4;
	width: 425px;
	min-height: 56px;
	top: 40px;
	left: 680px;
}

#u20219
{
	z-index: 338;
	width: 183px;
	padding-bottom: 28px;
	margin-left: 1269px;
}

#u20228
{
	z-index: 345;
	width: 42px;
	padding-bottom: 42px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 27px;
}

#u20231
{
	z-index: 346;
	width: 40px;
	padding-bottom: 40px;
	top: 42px;
	right: 128px;
}

#u20229
{
	z-index: 347;
	top: 48px;
	right: 141px;
}

#u20229:hover
{
	min-height: 0px;
	margin: 0px;
}

#u20220
{
	z-index: 339;
	width: 42px;
	padding-bottom: 42px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 84px;
}

#u20223
{
	z-index: 340;
	width: 40px;
	padding-bottom: 40px;
	top: 42px;
	right: 71px;
}

#u20221
{
	z-index: 341;
	top: 51px;
	right: 72px;
}

#u20224
{
	z-index: 342;
	width: 42px;
	padding-bottom: 42px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 141px;
}

#u20225
{
	z-index: 343;
	width: 40px;
	padding-bottom: 40px;
	top: 42px;
	right: 14px;
}

#u20231:hover,#u20223:hover,#u20225:hover
{
	width: 40px;
	min-height: 0px;
	margin: 0px;
}

#u20226
{
	z-index: 344;
	top: 52px;
	right: 19px;
}

#u19542
{
	z-index: 81;
	width: 1227px;
	background-color: #191919;
	padding-bottom: 0px;
	margin-left: 125px;
	position: relative;
}

#u19542_position_content
{
	padding-top: 26px;
	padding-bottom: 56px;
}

#u20949
{
	z-index: 162;
	width: 1112px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
}

#u20927
{
	z-index: 230;
	width: 1109px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u20927_clip
{
	overflow: hidden;
	width: 1109px;
	height: 476px;
}

#u20934
{
	z-index: 221;
	width: 552px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u19936-4
{
	z-index: 222;
	width: 552px;
	min-height: 38px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19935-4
{
	z-index: 226;
	width: 552px;
	min-height: 24px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19898
{
	z-index: 163;
	width: 775px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u19911
{
	z-index: 209;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u19924
{
	z-index: 210;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19920
{
	z-index: 211;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19926
{
	z-index: 212;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19912
{
	z-index: 213;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19916
{
	z-index: 214;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19928
{
	z-index: 215;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19918
{
	z-index: 216;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19922
{
	z-index: 217;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19914
{
	z-index: 218;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19930
{
	z-index: 219;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19932
{
	z-index: 220;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19899
{
	z-index: 164;
	width: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 314px;
}

#u19907-4
{
	z-index: 165;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19902-4
{
	z-index: 173;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19906-4
{
	z-index: 177;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19905-4
{
	z-index: 181;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19903-4
{
	z-index: 185;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19904-4
{
	z-index: 189;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19909-4
{
	z-index: 193;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19908-4
{
	z-index: 197;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19901-4
{
	z-index: 201;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19910-4
{
	z-index: 205;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19900-4
{
	z-index: 169;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u20948
{
	z-index: 232;
	width: 1112px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 185px;
	position: relative;
}

#u20935
{
	z-index: 248;
	width: 1110px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u20935_clip
{
	overflow: hidden;
	width: 1110px;
	height: 485px;
}

#u20056
{
	z-index: 233;
	width: 552px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u20057-4
{
	z-index: 234;
	width: 552px;
	min-height: 38px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u20058-4
{
	z-index: 238;
	width: 552px;
	min-height: 24px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u20060
{
	z-index: 242;
	width: 775px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u20062
{
	z-index: 243;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u20061-4
{
	z-index: 244;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 314px;
}

#u20947
{
	z-index: 82;
	width: 1113px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	left: -1px;
	margin-top: 185px;
	position: relative;
}

#u20941
{
	z-index: 160;
	width: 1111px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u20941_clip
{
	overflow: hidden;
	width: 1111px;
	height: 479px;
}

#u19850
{
	z-index: 151;
	width: 552px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u19851-4
{
	z-index: 152;
	width: 552px;
	min-height: 38px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19852-4
{
	z-index: 156;
	width: 552px;
	min-height: 24px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19853
{
	z-index: 83;
	width: 776px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u19854
{
	z-index: 84;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u19871
{
	z-index: 85;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19857
{
	z-index: 86;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19859
{
	z-index: 97;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19863
{
	z-index: 88;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19873
{
	z-index: 90;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19877
{
	z-index: 92;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19879
{
	z-index: 89;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19865
{
	z-index: 93;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19855
{
	z-index: 91;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19867
{
	z-index: 95;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19875
{
	z-index: 94;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19861
{
	z-index: 96;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19869
{
	z-index: 87;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19881
{
	z-index: 98;
	width: 462px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 314px;
}

#u19882-4
{
	z-index: 99;
	width: 462px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19894-4
{
	z-index: 107;
	width: 462px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19890-4
{
	z-index: 147;
	width: 462px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19886-4
{
	z-index: 115;
	width: 462px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19888-4
{
	z-index: 123;
	width: 462px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19892-4
{
	z-index: 131;
	width: 462px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19885-4
{
	z-index: 119;
	width: 462px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19883-4
{
	z-index: 135;
	width: 462px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19884-4
{
	z-index: 127;
	width: 462px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19889-4
{
	z-index: 103;
	width: 462px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19891-4
{
	z-index: 139;
	width: 462px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19893-4
{
	z-index: 143;
	width: 462px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19887-4
{
	z-index: 111;
	width: 462px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u20957
{
	z-index: 250;
	width: 1113px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -1px;
	margin-top: 185px;
	position: relative;
}

#u20951
{
	z-index: 314;
	width: 1111px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u20951_clip
{
	overflow: hidden;
	width: 1111px;
	height: 547px;
}

#u20950
{
	z-index: 251;
	width: 775px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	margin-top: 14px;
	position: relative;
}

#u20101
{
	z-index: 305;
	width: 552px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u20103-4
{
	z-index: 306;
	width: 552px;
	min-height: 38px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u20102-4
{
	z-index: 310;
	width: 552px;
	min-height: 24px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u20065
{
	z-index: 252;
	width: 775px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u20077
{
	z-index: 294;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u20082
{
	z-index: 295;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u20078
{
	z-index: 296;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u20084
{
	z-index: 297;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u20080
{
	z-index: 298;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u20086
{
	z-index: 299;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u20094
{
	z-index: 300;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u20092
{
	z-index: 301;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u20096
{
	z-index: 302;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u20090
{
	z-index: 303;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u20088
{
	z-index: 304;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u20066
{
	z-index: 253;
	width: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 314px;
}

#u20073-4
{
	z-index: 254;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u20070-4
{
	z-index: 258;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u20068-4
{
	z-index: 262;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u20075-4
{
	z-index: 266;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u20067-4
{
	z-index: 270;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u20074-4
{
	z-index: 274;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u20076-4
{
	z-index: 278;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u20071-4
{
	z-index: 282;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u20072-4
{
	z-index: 286;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u20069-4
{
	z-index: 290;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u20964
{
	z-index: 316;
	width: 1113px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	left: -1px;
	margin-top: 185px;
	position: relative;
}

#u20958
{
	z-index: 336;
	width: 1111px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u20958_clip
{
	overflow: hidden;
	width: 1111px;
	height: 536px;
}

#u20927_img,#u20935_img,#u20941_img,#u20951_img,#u20958_img
{
	margin: -1px;
}

#u20050
{
	z-index: 324;
	width: 386px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u20052-7
{
	z-index: 325;
	width: 386px;
	min-height: 62px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u20052-2
{
	line-height: 29px;
}

#u20052-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u20052-3
{
	font-size: 20px;
	line-height: 20px;
}

#u20052-4
{
	font-size: 24px;
	line-height: 24px;
}

#u20051-4
{
	z-index: 332;
	width: 386px;
	min-height: 24px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u20926
{
	z-index: 317;
	width: 775px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u19974
{
	z-index: 322;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u19975
{
	z-index: 323;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u19946-4
{
	z-index: 318;
	width: 461px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 314px;
}

#u19907-2,#u19902-2,#u19906-2,#u19905-2,#u19903-2,#u19904-2,#u19909-2,#u19908-2,#u19901-2,#u19910-2,#u19900-2,#u20061-2,#u19882-2,#u19894-2,#u19890-2,#u19886-2,#u19888-2,#u19892-2,#u19885-2,#u19883-2,#u19884-2,#u19889-2,#u19891-2,#u19893-2,#u19887-2,#u20073-2,#u20070-2,#u20068-2,#u20075-2,#u20067-2,#u20074-2,#u20076-2,#u20071-2,#u20072-2,#u20069-2,#u19946-2
{
	padding-top: 5px;
}

#u20916
{
	z-index: 56;
	width: 98px;
	top: 138px;
	left: 10px;
}

#u20916_position_content
{
	margin-top: -158px;
	padding-bottom: 347px;
}

#u20923
{
	z-index: 76;
	width: 98px;
	height: 9px;
	top: 138px;
	left: 10px;
}

#u20917-4
{
	z-index: 77;
	width: 98px;
	min-height: 24px;
	top: 148px;
	left: 10px;
}

#u20917-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px;
}

#u20918
{
	z-index: 57;
	width: 98px;
	height: 9px;
	top: 182px;
	left: 10px;
}

#u20921-4
{
	z-index: 58;
	width: 98px;
	min-height: 24px;
	top: 192px;
	left: 10px;
}

#u20917-4.MuseLinkActive,#u20921-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px;
}

#u20920
{
	z-index: 70;
	width: 98px;
	height: 9px;
	top: 225px;
	left: 10px;
}

#u20922-4
{
	z-index: 66;
	width: 98px;
	min-height: 24px;
	top: 235px;
	left: 10px;
}

#u20921-4.MuseLinkActive,#u20922-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px;
}

#u20925-4
{
	z-index: 62;
	width: 98px;
	min-height: 24px;
	top: 259px;
	left: 10px;
}

#u20922-4.MuseLinkActive,#u20925-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px;
}

#u20924
{
	z-index: 75;
	width: 98px;
	height: 9px;
	top: 293px;
	left: 10px;
}

#u20919-4
{
	z-index: 71;
	width: 98px;
	min-height: 24px;
	top: 303px;
	left: 10px;
}

#u20925-4.MuseLinkActive,#u20919-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px;
}

#u20919-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px;
}

#pamphletu20235
{
	z-index: 8;
	width: 0.01px;
	height: 44px;
	left: -90px;
	margin-top: 42px;
}

#u20238popup
{
	z-index: 9;
}

#u20238
{
	width: 1566px;
	bottom: 2709px;
	left: 0px;
}

#u20239
{
	z-index: 10;
	width: 1566px;
	height: 73px;
	margin-right: -10000px;
}

#u20244
{
	z-index: 20;
	width: 221px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 115px;
}

#u20245-5
{
	z-index: 21;
	width: 181px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u20246
{
	z-index: 27;
	width: 40px;
	margin-right: -10000px;
	left: 181px;
}

#u20241
{
	z-index: 11;
	width: 228px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 363px;
}

#u20242-5
{
	z-index: 12;
	width: 188px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u20243
{
	z-index: 18;
	width: 40px;
	margin-right: -10000px;
	left: 188px;
}

#u20246_states,#u20243_states
{
	height: 40px;
	width: 40px;
}

#u20247-5
{
	z-index: 34;
	width: 460px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 619px;
}

#u20240-5
{
	z-index: 29;
	width: 253px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 1106px;
}

#u20248
{
	z-index: 39;
	width: 45px;
	padding-bottom: 45px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u20249
{
	width: 43px;
	padding-bottom: 7px;
	bottom: 2722px;
	left: 10px;
}

#u20249:hover
{
	width: 43px;
	min-height: 0px;
	margin: 0px;
}

#u20249.PamphletThumbSelected
{
	width: 42px;
	min-height: 0px;
	margin: 0px 1px 1px 0px;
}

#u20250-4
{
	z-index: 41;
	width: 32px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u20249:hover #u20250-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 32px;
	margin: 6px -10000px 0px 0px;
}

#u20249.PamphletThumbSelected #u20250-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 32px;
	margin: 6px -10000px 0px 0px;
}

#u20253
{
	width: 42px;
	padding-bottom: 5px;
	bottom: 2723px;
	left: 10px;
}

#u20253:hover
{
	width: 42px;
	min-height: 0px;
	margin: 0px;
}

#u20253:active
{
	width: 42px;
	min-height: 0px;
	margin: 0px;
}

#u20254-4
{
	z-index: 46;
	width: 30px;
	min-height: 34px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 6px;
}

body
{
	position: relative;
	min-width: 1366px;
}

#page .verticalspacer
{
	clear: both;
}

.announcement-banner {
    color: #7D1A0A;
    text-align: center;
    padding: 12px 0;
    background: #fff;
    width: 1111px;
    font-size: 18px;
    margin-top: 1em;
}