.subhead,.heading
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.body
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u19465-4.MuseLinkActive p,#u19468-4.MuseLinkActive p,#u19467-4.MuseLinkActive p,#u19464-4.MuseLinkActive p,#u19466-4.MuseLinkActive p
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u19462-4
{
	font-family: mate-sc-n4, serif;
}

#u19464-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u19465-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u19466-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u19468-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u19467-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u19267-7,#u19267-10
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u19267-2,#u19267-4,#u19267-5,#u19267-8,#u19267-11,#u19267-12
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u19267-14
{
	font-family: source-sans-pro-n2, sans-serif;
}

