.subhead,.heading
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.body
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u19465-4.MuseLinkActive p,#u19468-4.MuseLinkActive p,#u19467-4.MuseLinkActive p,#u19464-4.MuseLinkActive p,#u19466-4.MuseLinkActive p
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u19462-4
{
	font-family: mate-sc-n4, serif;
}

#u19464-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u19465-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u19466-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u19468-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u19467-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u20744-4,#u20743-4,#u20758-4,#u20759-4,#u20756-4,#u20757-4,#u20749-4,#u20751-4,#u20754-4,#u20752-4,#u20753-4,#u20750-4,#u20755-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

