.subhead,.heading
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.body
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u19465-4.MuseLinkActive p,#u19468-4.MuseLinkActive p,#u19467-4.MuseLinkActive p,#u19464-4.MuseLinkActive p,#u19466-4.MuseLinkActive p
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u19462-4
{
	font-family: mate-sc-n4, serif;
}

#u19464-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u19465-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u19466-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u19468-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u19467-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u19392-4,#u19341-4,#u19346-4,#u19358-4,#u19334-4,#u19364-4
{
	font-family: mate-sc-n4, serif;
}

#u19391-4,#u19390-4,#u19342-4,#u19340-4,#u19349-4,#u19350-4,#u19359-4,#u19360-4,#u19335-4,#u19338-4,#u19365-4,#u19366-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u19382-4,#u19327-4,#u19380-4,#u19383-4,#u19328-4,#u19381-6
{
	font-family: source-sans-pro-n2, sans-serif;
}

