.version.index /* version checker */
{
	color: #0000FD;
	background-color: #3B7158;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #191919;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u19475
{
	z-index: 2;
	min-height: 84px;
	padding-bottom: 96px;
}

#u19460
{
	z-index: 4;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}

#u19475-bw
{
	z-index: 2;
	min-height: 84px;
}

#u19462-4
{
	z-index: 5;
	min-height: 39px;
}

#u19462-4-bw
{
	z-index: 5;
	min-height: 39px;
	margin-top: 84px;
}

#u19464-4
{
	z-index: 9;
	width: 70px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 123px;
	left: 301px;
}

#u19464-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 70px;
	margin: 123px -10000px 0px 0px;
}

#u19465-4
{
	z-index: 13;
	width: 70px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 123px;
	left: 228px;
}

#u19464-4.MuseLinkActive,#u19465-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 70px;
	margin: 123px -10000px 0px 0px;
}

#u19466-4
{
	z-index: 17;
	width: 70px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 123px;
	left: 155px;
}

#u19465-4.MuseLinkActive,#u19466-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 70px;
	margin: 123px -10000px 0px 0px;
}

#u19468-4
{
	z-index: 21;
	width: 70px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 123px;
	left: 82px;
}

#u19466-4.MuseLinkActive,#u19468-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 70px;
	margin: 123px -10000px 0px 0px;
}

#u19467-4
{
	z-index: 25;
	width: 70px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 123px;
	left: 9px;
}

#u19468-4.MuseLinkActive,#u19467-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 70px;
	margin: 123px -10000px 0px 0px;
}

#u19467-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 70px;
	margin: 123px -10000px 0px 0px;
}

#u19188
{
	z-index: 29;
	width: 362px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 9px;
	margin-top: 20px;
	position: relative;
}

#pamphletu19189
{
	z-index: 30;
	width: 0.01px;
	height: 212px;
	padding-bottom: 93px;
	position: relative;
	margin-right: -10000px;
}

#u19204
{
	position: absolute;
	width: 320px;
	background-color: transparent;
	left: 42px;
}

#u19204popup
{
	z-index: 31;
}

#u19205
{
	z-index: 32;
	width: 308px;
	height: 295px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 9px;
	padding-right: 3px;
	padding-bottom: 10px;
	margin-right: -10000px;
	position: relative;
}

#pu19475,#pu19209
{
	width: 0.01px;
}

#u19209
{
	z-index: 61;
	width: 0px;
	height: 23px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,-11,12);
	-ms-transform: matrix(0,-1,1,0,-11,12);
	transform: matrix(0,-1,1,0,-11,12);
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 11px;
	border-width: 0px 1px 0px 0px;
}

#u19210-4
{
	z-index: 33;
	width: 275px;
	min-height: 49px;
	background-color: #7D1A0A;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	font-family: mate-sc, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 33px;
}

#u19210-2
{
	padding-left: 3px;
	padding-top: 8px;
}

#u19211-4
{
	z-index: 57;
	width: 275px;
	min-height: 34px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-left: 33px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u19208-8
{
	z-index: 37;
	width: 275px;
	min-height: 95px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-left: 33px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u19207-4
{
	z-index: 45;
	width: 275px;
	min-height: 36px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-left: 33px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u19211-2,#u19208-2,#u19208-4,#u19208-6,#u19207-2
{
	padding-left: 3px;
}

#u19206-8
{
	z-index: 49;
	width: 275px;
	min-height: 81px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-left: 32px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u19206-2
{
	font-size: 18px;
	line-height: 30px;
	padding-left: 3px;
}

#u19206-4,#u19206-6
{
	line-height: 23px;
	padding-left: 3px;
}

#u19212
{
	z-index: 62;
	width: 320px;
	height: 305px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19213
{
	z-index: 63;
	width: 0px;
	height: 23px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,-11,12);
	-ms-transform: matrix(0,-1,1,0,-11,12);
	transform: matrix(0,-1,1,0,-11,12);
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 20px;
	border-width: 0px 1px 0px 0px;
}

#u19216
{
	z-index: 64;
	width: 320px;
	height: 305px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19217
{
	z-index: 65;
	width: 0px;
	height: 23px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,-11,12);
	-ms-transform: matrix(0,-1,1,0,-11,12);
	transform: matrix(0,-1,1,0,-11,12);
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: 20px;
	border-width: 0px 1px 0px 0px;
}

#u19214
{
	z-index: 66;
	width: 320px;
	height: 305px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19215
{
	z-index: 67;
	width: 0px;
	height: 23px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,-11,12);
	-ms-transform: matrix(0,-1,1,0,-11,12);
	transform: matrix(0,-1,1,0,-11,12);
	position: relative;
	margin-right: -10000px;
	margin-top: 188px;
	left: 20px;
	border-width: 0px 1px 0px 0px;
}

#u19192
{
	z-index: 68;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u19193
{
	position: absolute;
	width: 42px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 100px;
	top: -6px;
	padding: 5px 4px 3.0499999999998977px 3px;
}

#u19193:hover
{
	background-color: #7F7F7F;
	width: 42px;
	min-height: 0px;
	margin: 0px;
}

#u19193.PamphletThumbSelected
{
	background-color: #7D1A0A;
	width: 42px;
	min-height: 0px;
	margin: 0px;
}

#u19195-4
{
	z-index: 70;
	width: 42px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u19193:hover #u19195-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 42px;
	margin: 0px;
}

#u19193.PamphletThumbSelected #u19195-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 42px;
	margin: 0px;
}

#u19193.PamphletThumbSelected #u19195-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1;
	font-size: 24px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u19194-4
{
	z-index: 74;
	width: 42px;
	min-height: 15px;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u19193:hover #u19194-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 42px;
	margin: 0px;
}

#u19193.PamphletThumbSelected #u19194-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 42px;
	margin: 0px;
}

#u19193.PamphletThumbSelected #u19194-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u19200
{
	position: absolute;
	width: 49px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 14px;
	top: 53px;
}

#u19200:hover
{
	background-color: #7F7F7F;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u19222-4
{
	z-index: 79;
	width: 50px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: -1px;
}

#u19200:hover #u19222-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 50px;
	margin: 15px -10000px 0px 0px;
}

#u19200.PamphletThumbSelected #u19222-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 50px;
	margin: 15px -10000px 0px 0px;
}

#u19198
{
	position: absolute;
	width: 49px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 13px;
	top: 111px;
}

#u19198:hover
{
	background-color: #7F7F7F;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u19221-4
{
	z-index: 84;
	width: 50px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: -1px;
}

#u19198:hover #u19221-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 50px;
	margin: 16px -10000px 0px 0px;
}

#u19196
{
	position: absolute;
	width: 49px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 13px;
	top: 169px;
}

#u19196:hover
{
	background-color: #7F7F7F;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u19200.PamphletThumbSelected,#u19198.PamphletThumbSelected,#u19196.PamphletThumbSelected
{
	background-color: #7D1A0A;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u19197-4
{
	z-index: 89;
	width: 50px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: -1px;
}

#u19198.PamphletThumbSelected #u19221-4,#u19196:hover #u19197-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 50px;
	margin: 16px -10000px 0px 0px;
}

#u19196.PamphletThumbSelected #u19197-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 50px;
	margin: 16px -10000px 0px 0px;
}

#u19200.PamphletThumbSelected #u19222-4 p,#u19198.PamphletThumbSelected #u19221-4 p,#u19196.PamphletThumbSelected #u19197-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u19220
{
	z-index: 93;
	width: 1px;
	height: 302px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 72px;
	border-width: 0px 1px 0px 0px;
}

#u19476
{
	z-index: 3;
	min-height: 54px;
	padding-bottom: 6px;
}

#u19324
{
	z-index: 100;
	width: 84px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 55px;
}

#u19317
{
	z-index: 101;
	width: 84px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u19315
{
	z-index: 102;
	width: 16px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 35px;
}

#u19315:hover
{
	width: 16px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#u19323
{
	z-index: 94;
	width: 84px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 148px;
}

#u19307
{
	z-index: 95;
	width: 84px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u19308
{
	z-index: 96;
	width: 40px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 22px;
}

#u19322
{
	z-index: 97;
	width: 84px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 241px;
}

#u19313
{
	z-index: 98;
	width: 84px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u19317:hover,#u19307:hover,#u19313:hover
{
	width: 84px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u19311
{
	z-index: 99;
	width: 30px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 27px;
}

#u19476-bw
{
	z-index: 3;
	min-height: 54px;
	margin-top: 5px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

