#u19460
{
	position: relative;
}

#u19462-4
{
	border-color: #7D1A0A;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: mate-sc, serif;
	font-weight: 400;
}

#u19464-4
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
}

#u19464-4:hover
{
	background-color: #7F7F7F;
}

#u19464-2
{
	padding-top: 14px;
}

#u19465-4
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
}

#u19465-4:hover
{
	background-color: #7F7F7F;
}

#u19465-2
{
	padding-top: 14px;
}

#u19466-4
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
}

#u19466-4:hover
{
	background-color: #7F7F7F;
}

#u19466-2
{
	padding-top: 14px;
}

#u19468-4
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
}

#u19468-4:hover
{
	background-color: #7F7F7F;
}

#u19468-2
{
	padding-top: 14px;
}

#u19467-4
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
}

#u19467-4:hover
{
	background-color: #7F7F7F;
}

#u19464-4.MuseLinkActive,#u19465-4.MuseLinkActive,#u19466-4.MuseLinkActive,#u19468-4.MuseLinkActive,#u19467-4.MuseLinkActive
{
	background-color: #7D1A0A;
}

#u19464-4.MuseLinkActive p,#u19465-4.MuseLinkActive p,#u19466-4.MuseLinkActive p,#u19468-4.MuseLinkActive p,#u19467-4.MuseLinkActive p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: source-sans-pro, sans-serif;
	font-weight: 900;
	font-style: normal;
}

#u19467-2
{
	padding-top: 14px;
}

#u19475,#u19476
{
	background-color: #000000;
}

#u19317
{
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u19317:hover
{
	background-color: #3B5998;
}

#u19315
{
	background-color: transparent;
	overflow: hidden;
	position: relative;
}

#u19315:hover
{
	background-color: transparent;
}

#u19307
{
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u19307:hover
{
	background-color: #FF7700;
}

#u19324,#u19323,#u19322
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u19313
{
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u19313:hover
{
	background-color: #C4302B;
}

#u19308,#u19311
{
	overflow: hidden;
	position: relative;
}

